{% extends 'header.html' %}

{%load static%}

{% block css %}
<link href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block title %}
<title>{{establishment.abreviated_name}}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

    <div class="col-9">
        <div class="alert-info text-center">
            <p class=" h4 mb-2">{{establishment.name}}</p>
            <p class=" h5">is a {{establishment.establishment_type|lower}} school,
                also known as {{establishment.abreviated_name}}
                <br>
                directed now by {{establishment.director}}
                <br>
                <!--map icon-->
                <i style='font-size:24px' class='fas'>&#xf3c5;</i> 
                <!--end map icon-->
                {{establishment.adress}}, {{establishment.city}}
                <br>
                phone: {{establishment.phone}}
                <br>
                website: {{establishment.website}}
            </p>
        </div>
        
        <div id="establishmentDescription" class="p lead">
            <div class="h4 font-weight-bold mt-3"> description:</div>
            <br>
            {{establishment.description}}
            {% lorem 2 p %} {#hadi ghi paragraph mafiha nfe3#}

        </div>

        <div id="establishmentDescription" class="p mt-5">
            <div class="h4 font-weight-bold mt-3"> Departments:</div>
            <br>
            <ul class="list-group">
                {% for d in departments  %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{d.name}}
                    <a href="{% url 'core:search_department' establishment.id d.id %}">
                    <span class="badge badge-primary badge-pill">See department</span>
                    </a>
                </li>
                {% endfor %}

        </div>
        <!--############## bokeh chart ################-->
        <div class="row">
            <div class="h4 font-weight-bold mt-5 mb-4"> Sentimental chart of students opinions:</div>
            {{ div | safe }}

        </div>
        


    </div>
    <div class="col-3 bg-dark">
        <!--this is for adds-->
        
    </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
{{ script | safe }}
{% endblock %}