<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--
<div class="col mt-2">
                <form>
                  <label class = "checkbox-inline">
                    <input type = "checkbox" value = "">Public
                  </label>
                  <label class = "checkbox-inline">
                    <input type="checkbox" value="">Private
                  </label>
                  <label class = "checkbox-inline">
                    <input type = "checkbox" value = "">Semi
                  </label>
                </form>
             </div>

-->
</body>
</html>
