{% extends 'core/header.html' %}

{% block content %}
    <div class="container">
        
        <div class="row-cols-12" id="index-content">
          <!-- ####### first row ########## -->
          <div class="row" id="row-choose">
              <div class="col">
                  <select class="browser-default custom-select">
                      <option selected>your level</option>
                      <option value="-1">Bac-</option>
                      <option value="0">Bac</option>
                      <option value="2">Bac+2</option>
                      <option value="3">Licence/Bachelor</option>
                      <option value="4">Master</option>
                      <option value="5">Phd</option>
                      
                    </select>
              </div>
              <div class="col">
                  <select class="browser-default custom-select">
                      <option selected>want to continue in</option>
                      {% for discipline in disciplines  %}
                        <option value={{discipline}}>{{discipline}}</option>
                      {% endfor %}
                    </select>
              </div>
              <div class="col">
                  <select class="browser-default custom-select">
                      <option selected>city</option>
                      {% for city in cities %}
                        <option value={{city.id}}>{{city.name}}</option>
                      {% endfor %}
                    </select>
              </div>
              <div class="col mt-2">
                <form>
                  <label class = "checkbox-inline">
                    <input type = "checkbox" value = "">Public
                  </label>
                  <label class = "checkbox-inline">
                    <input type="checkbox" value="">Private
                  </label>
                  <label class = "checkbox-inline">
                    <input type = "checkbox" value = "">Semi
                  </label>
                </form>
             </div>
          </div>
          <!-- ####### end first row ########## -->
          
        
          <button type="button" class="btn btn-primary btn-lg btn-block mt-4">Block level button</button>
        </div>
    </div>
    
{% endblock %}