
{% extends 'core/header.html' %}
{%load static%}

{% block css %}
<!--

<link rel="stylesheet" href="{% static 'core/css/test.css'%}">
-->
{% endblock %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <!--submit comment area-->
    <div class="col offset-2">
      <form method="POST">
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Your reply here"></textarea>
          <button type="button" class="btn btn-outline-primary float-right">Add reply</button>
        </div>
      </form>
    </div>  
    <!--end submit comment area-->
  </div>
  <div class="row">

    {% for comment, replies in comments_replies.items%}
    <div class="col-11 offset-1 border border-dark mb-2">
      <div> <b>{{comment.user}}</b> said:</div>
      <div class="row col offset-1">
        <div class="p text-justify">{{comment.body}}</div>
      </div>
      
      {% for reply in replies%}
      <div class="col-10 offset-1 border border-dark mb-1">
        <div> <b>{{reply.user}}</b> said:</div>
        <div class="p text-justify">{{reply.body}}</div>
        
      </div>
      {% endfor %}
      <!--submit comment area-->
      <div class="row-12 col-9 offset-2">
        <form method="POST">
          <div class="form-group">
            
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Your reply here"></textarea>
            <button type="button" class="btn btn-outline-primary float-right">Add reply</button>
          </div>
        </form>
      </div>  
      <!--end submit comment area-->
    </div>
    {% endfor %}
    
  </div>    
</div>

{% endblock %}

{% block js %}
<!--
<link rel="stylesheet" href="{% static 'core/js/test.js'%}">
-->
{% endblock %}